table, td {
    border:1px solid black;   
}

table{
    width:75%;
    margin-right:auto;
    margin-left:auto;
    font-family: Arial;
    text-align: center;
    color: rgb(62, 66, 108);
    background:url(music-1.gif) repeat center fixed;
    border-collapse: collapse;
}

tr#toprow {
    background-color: rgb(255, 255, 155);
}
caption {
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 5%;
    margin-top: 7%;
    font-family:Cambria;
    text-align: center;
    color: rgb(203, 193, 213);
    font-size: 3em;
}

.firstcol {width:30%}
.secondcol {width: 55%}

body {
    background: url(georgephoto.jpg) repeat center fixed;
}